.footer{
    background-color: #9C0309 !important;
    margin-bottom: -200px;
    height: 300px;
    margin-top: -136px;
  }
  .text-footer1{
    font-family: 'BaruSansDemo-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 63px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #000000;
    text-decoration: none;
    padding-left: 27px;
    width: 10px;
  }
  
  p{
    margin-left: 0px !important;
  }

  .text-footer2{
    font-family: 'bebas_neue_regular';
    font-style: medium !important;
    margin-bottom: 3px !important;
    font-weight: 400;
    font-size: 20px !important;
    line-height: 28px !important;
    text-align: justify;
    letter-spacing: 0.01em;
    color: #000000;
    text-decoration: none;
  }

  .text-footer3{
    font-family: 'BaruSansDemo-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: 0.04em;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
  }
  .text-footer4{
    font-family: 'BaruSansDemo-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
    letter-spacing: 0.01em;
    text-decoration: none;
  }
  .text-footer5{
    font-family: 'BaruSansDemo-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
    color: #000000;
    letter-spacing: 0.01em;
    text-decoration: none;
  }

  .blok1{
    margin-top: 50px;
    width: 500px;
    margin-left: 27px;
  }

  .blok2{
    padding-left: 400px;
    margin-top: -150px;
  }

  .blok3{
    margin-left: -50px !important;
    margin-top: -150px;
  }

  .blok-last1 {
    text-align: right;
    margin-top: -151px;
  }
  .blok-last2 {
    text-align: right;
    margin-top: 38px;
  }

  .blok-last1 p {
    margin: 0;
  }

  .blok-last2 p {
    margin: 0;
  }

  .txt{
    display: none;
  }

  @media (max-width: 992px){
    .blok1{
      display: none;
    }

    .txt{
      display: block;
    }
  
  
    .blok3{
      display: none;
    }

    .text-footer3{
      font-size: 25px !important;
      line-height: 35px !important;
    }

    .row-bloks{
      margin-top: 180px !important;
      margin-left: -350px !important;
    }
    .blok-last1 {
      margin-top: -258px !important;
    }
    .footer{
      margin-bottom: 0px;
      height: 400px;
      margin-top: -136px;
    }
  }
  @media(max-width: 530px){
    .text-footer1{
      font-size: 36px !important;
    }
    .text-footer3{
      font-size: 20px !important;
      line-height: 35px !important;
    }

    .blok-last1 {
      margin-top: 0px !important;
    }

    .footer{
      height: 550px;
    }
  }