.footer{
    background-color: #9C0309 !important;
    margin-bottom: -200px;
    height: 300px;
    margin-top: -136px;
  }
  .text-footer1{
    font-family: 'BaruSansDemo-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 63px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 27px;
    width: 10px;
  }
  
  p{
    margin-left: 0px !important;
  }

  .text-footer2{
    font-family: 'bebas_neue_regular';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: justify;
    letter-spacing: 0.01em;
    color: rgb(229, 181, 181) !important;
    text-decoration: none;
  }

  .text-footer3{
    font-family: 'BaruSansDemo-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: 0.04em;
    color: #000000;
    text-decoration: none;
    cursor: pointer;
  }
  .text-footer4{
    font-family: 'BaruSansDemo-Regular';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-decoration: none;
  }
  .text-footer5{
    font-family: 'BaruSansDemo-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    text-align: right;
    color: rgb(229, 181, 181) !important;
    letter-spacing: 0.01em;
    text-decoration: none;
  }

  .blok1{
    margin-top: 50px;
    width: 500px;
    margin-left: 27px;
  }

  .blok2{
    padding-left: 400px;
    margin-top: -150px;
  }

  .blok3{
    margin-left: -50px !important;
    margin-top: -150px;
  }

  .blok-last1 {
    text-align: right;
    margin-top: -151px;
  }
  .blok-last2 {
    text-align: right;
    margin-top: 38px;
  }

  .blok-last1 p {
    margin: 0;
  }

  .blok-last2 p {
    margin: 0;
  }